<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <pattern>%d [%-5level] [%thread] %logger{5} %replace(- [%X{consumerId}, %X{callId}] ){'- \[, , \] ',''}- %m%n</pattern>
        </encoder>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

    </appender>

    <logger name="org.apache.cxf" level="WARN" />

    <logger name="org.glassfish.jersey" level="INFO" />

    <logger name="no.nav.sbl.dialogarena.common.cxf" level="INFO" />

    <logger name="no.nav.sbl.dialogarena.common.cxf.CXFMaskSAMLTokenLoggingOutInterceptor" level="WARN" />

    <logger name="no.nav.modig.security" level="WARN" />

    <logger name="no.nav.modig.security.ws" level="WARN" />

    <logger name="no.nav.okosynk" level="INFO" />

    <logger name="no.nav.okosynk.consumer.oppgave.OppgaveConsumerV3ServiceImpl" level="WARN" />

    <logger name="no.nav.tjeneste.virksomhet.oppgave.v3" level="WARN" />

    <root level="INFO">
        <appender-ref ref="STDOUT_JSON"/>
    </root>

</configuration>
