<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <pattern>%d [%-5level] [%thread] %logger{5} %replace(- [%X{consumerId}, %X{callId}] ){'- \[, , \] ',''}-
                %m%n
            </pattern>
        </encoder>

    </appender>

    <!--Sensitiv/potensielt sensitiv informasjon -->
    <appender name="SECURE_LOG_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/secure-logs/secure.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>/secure-logs/secure.log.%i</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>1</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <version/>
                <loggerName/>
                <logLevel/>
                <logLevelValue/>
                <stackTrace/>
                <provider/>
                <mdc/>
            </providers>
        </encoder>
    </appender>

    <logger name="secureLog" level="INFO" additivity="false">
        <appender-ref ref="SECURE_LOG_APPENDER"/>
    </logger>

    <logger name="org.apache.cxf" level="WARN">
        <appender-ref ref="STDOUT_JSON"/>
        <appender-ref ref="SECURE_LOG_APPENDER"/>
    </logger>

    <logger name="org.glassfish.jersey" level="INFO">
        <appender-ref ref="STDOUT_JSON"/>
        <appender-ref ref="SECURE_LOG_APPENDER"/>
    </logger>

    <logger name="no.nav.okosynk" level="INFO">
        <appender-ref ref="STDOUT_JSON"/>
        <appender-ref ref="SECURE_LOG_APPENDER"/>
    </logger>

    <logger name="no.nav.okosynk.consumer.oppgave.OppgaveRestClient" level="INFO">
        <appender-ref ref="STDOUT_JSON"/>
        <appender-ref ref="SECURE_LOG_APPENDER"/>
    </logger>

    <logger name="no.nav.okosynk.consumer.aktoer.PdlRestClientWithFallbackToAktoerRegisteret" level="INFO">
        <appender-ref ref="STDOUT_JSON"/>
        <appender-ref ref="SECURE_LOG_APPENDER"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT_JSON"/>
        <appender-ref ref="SECURE_LOG_APPENDER"/>
    </root>

</configuration>
