<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation=
           "http://www.springframework.org/schema/beans    http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
            http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder system-properties-mode="OVERRIDE"/>

    <security:http create-session="stateless">
        <security:intercept-url pattern="/tjenester/**" access="hasRole('ROLE_BATCH_USER')"/>
        <security:csrf disabled="true"/>
        <security:http-basic/>
    </security:http>

    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider ref="ldapAuthProvider"/>
    </security:authentication-manager>

    <bean id="ldapAuthProvider" class="org.springframework.security.ldap.authentication.ad.ActiveDirectoryLdapAuthenticationProvider">
        <constructor-arg value="${ldap.domain}"/>
        <constructor-arg value="${ldap.url}"/>
        <property name="userDetailsContextMapper"         ref="mapTilInternlRole"/>
        <property name="convertSubErrorCodesToExceptions" value="true"/>
    </bean>

    <bean id="mapTilInternlRole" class="no.nav.okosynk.spring.ADRolleMapper"/>
</beans>
